<html>

<head>
	<meta charset="utf-8">
	<title>Text Classification</title>
</head>

<body>
	<!--  <div class="page"> -->
	<header>
		<h1><a href="/">Text Classification</a></h1>
	</header>
	<div>
		<!--    <div class="content"> -->
		<!-- {% block body %}{% endblock %} -->
		<div class="panel-heading">
			<h1 class="text-uppercase">Tensorflow Solution</h1>
		</div>
		<br>
		<form action="/predict" method="GET">
			<div>
				<label for="vin">Input Words：</label>
				<br>
				<br>
				<div>
					<!-- <input class="form-control input-sm" id="words" name="words" type="textarea" placeholder="Input your words" size="80"> -->
					<textarea name="words" id="" cols="40" rows="20" placeholder="Input words">{{words}}</textarea>
				</div>
				<br>
				<div>
					<label style="font-size:26px">{{prediction}}</label>
				</div>
				<br>
				<button type=submit value="check">Predict</button>
				<script>
				</script>
			</div>
		</form>
	</div>
</body>

</html>